/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: navy;
    font-family: 'poppins', sans-serif;
    line-height: 1.6;
    color: #f8f6f6;
}

header {
    background-color: #211e5e;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: #faf8f8;
}
nav ul li a:hover{
    color: blueviolet;
    font-size: 17px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h1, h2 {
    margin-bottom: 1rem;
}

.project {
    background-color: #1b1818;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #0f0e0e;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
